<section id="about-me">
  <h2>About me</h2>
  <p>
    Hello! I’m Thinh Nguyen (Charles), an enthusiastic and motivated
    software engineer. I graduated from San Jose State University with a
    degree in Applied Mathematics, and I am eager to kickstart my career
    in full stack development.<br /><br />
    During my studies, I developed a strong foundation in computer
    science, including algorithms, advance calculus, linear algebra,
    discrete math, computer architecture, advanced java programming
    language, data structure, and time/space complexity. Additionally, I
    am currently enrolled in the UC Berkeley Full Stack Boot Camp, where I
    am honing my skills in web development, database management, and
    modern software engineering practices. I have also completed various
    academic projects that gave me hands-on experience and helped me
    sharpen my problem-solving abilities.<br /><br />
    I’m passionate about software engineer, and I am excited to continue
    learning and growing in this dynamic field. I’m eager to contribute my
    skills and knowledge to collaborative team environment where I can
    make a meaningful impact.<br /><br />
    I am currently seeking opportunities to apply my skills and knowledge
    as a software engineer or full stack developer, where I can contribute
    to innovative projects and collaborate with talented teams. I’m open
    to roles that allow me to continue growing and expanding my skill set,
    whether it’s in a startup environment where I can wear multiple hats
    or in a larger organization with established processes. I’m ready to
    bring my enthusiasm, dedication, and willingness to learn to a
    supportive and growth-oriented organization that values creativity,
    collaboration, and continuous improvement.
  </p>
</section>