<section id="contact-me">
    <h2>Contact me</h2>
    <ul class="list">
      <li class="list__item">(123) 345-6789</li>
      <li class="list__item">swe.thinhnguyen@gmail.com</li>
      <li class="list__item">
        <a
          href="https://www.linkedin.com/in/thinh-nguyen-10b31a218/"
          class="link"
          target="_blank"
          >linkedIn</a
        >
      </li>
      <li class="list__item">
        <a
          class="link"
          href="https://github.com/swe-thinhnguyen1701"
          target="_blank"
          >github</a
        >
      </li>
    </ul>
  </section>