<section class="greeting">
  <section class="greeting__content">
    &lt;html&gt;<br />
    &emsp;&emsp;&lt;body&gt;<br />
    &emsp;&emsp;&emsp;&lt;h1&gt;<br />
    <span class="greeting__self-introduction"
      >Hi,<br />I'm Thinh,<br />software engineer</span
    >&lt;/h1&gt;<br />
    &emsp;&emsp;&emsp;&lt;p&gt;<br />
    &emsp;&emsp;&emsp;&emsp;&emsp;<span class="greeting__job-position"
      >Full-Stack deveoper</span
    ><br />
    &emsp;&emsp;&emsp;&lt;/p&gt;<br />
    &emsp;&emsp;&lt;/body&gt;<br />
    &lt;/html&gt;<br />
  </section>
  <a class="btn btn--contact-me" href="#contact-me">Contact me!</a>
</section>
