<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thinh Nguyen</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="divider"></div>
    <main>
      <section id="resume">
        <h2 class="resume__heading">Resume</h2>
        <section class="resume__container">
          <section class="resume__header">
            <h2 class="resume__name">Charles Nguyen</h2>
            <p class="resume__contact">
              (408) 821-8624 &#8226; Racine, WI &#8226;
              swe.thinhnguyen@gmail.com
            </p>
          </section>
          <section class="resume__education">
            <h3 class="resume__title">Education</h3>
            <section class="resume__education__container">
              <p class="resume__education__program">
                <em>Certificate</em> in Full Stack Boot Camp
              </p>
              <p class="resume__education__school">
                <strong>UC Berkeley</strong>
              </p>
              <p class="resume__education__date">
                March 2024 - Septemnber 2024
              </p>
              <p class="resume__education__location">Berkeley, CA</p>
            </section>
            <section class="resume__education__container">
              <p class="resume__education__program">
                <em>B.S.</em> Applied Mathematics
              </p>
              <p class="resume__education__school">
                <strong>San Jose State University</strong>
              </p>
              <p class="resume__education__date">
                September 2019 - May 2022
              </p>
              <p class="resume__education__location">San Jose, CA</p>
            </section>
            <section class="resume__education__container">
              <p class="resume__education__program">
                <em>A.S.</em> Computer Science
              </p>
              <p class="resume__education__school">
                <strong>De Anza College</strong>
              </p>
              <p class="resume__education__date">
                September 2016 - June 2019
              </p>
              <p class="resume__education__location">Cupertino, CA</p>
            </section>
          </section>
          <section class="resume__skills">
            <h3 class="resume__title">Skills</h3>
            <p class="resume__skill-list">HTML, CSS, JavaScript, Java, Python, React, Linux, Bash, Lua,
              MongoDB, AWS DynamoDB, AWS Lambda, SQL, Node.JS, Git.</p>
          </section>
          <section class="resume__volunteer">
            <h3 class="resume__title">Volunteer</h3>
            <ul class="list">
              <li class="list__item">
                Backend Developer<br />
                <strong>Chosn</strong>, Phoenix, AZ <br />
                May 2023 - August 2023
                <ul>
                  <li>
                    collaborated with a team to design and develop a RESTful API
                    website.
                  </li>
                  <li>
                    Led backend development efforts, utilizing AWS Lambda, AWS
                    DynamoDB, and AWS API Gateway to create scable and efficient
                    serverless architecture.
                  </li>
                </ul>
              </li>
              <li class="list__item">
                Game Developer<br />
                <strong>Game Online Group</strong>, Canada <br />
                April 2021 - December 2021
                <ul>
                  <li>
                    Successfully implemented new features and optimizations,
                    resulting in improved gameplay experience and user
                    satisfaction.
                  </li>
                  <li>
                    Streamlined codebase management, reducing the time and
                    effort required for maintenance and updates.
                  </li>
                </ul>
              </li>
            </ul>
          </section>
        </section>        
        <!-- <section class="resume__section">
          <h2 class="resume__name">Thinh Nguyen</h2>
          <section>
            <h3 class="resume__heading">Education</h3>
            <ul class="list">
              <li class="list__item">
                <em>Certificate</em> in Full Stack Boot Camp<br />
                <strong>UC Berkeley</strong><br />
                March 2024 - September 2024<br />
                Berkeley, CA
              </li>
              <li class="list__item">
                <em>B.S.</em> Applied Mathematics<br />
                <strong>San Jose State University</strong><br />
                September 2019 - May 2022<br />
                San Jose, CA
              </li>
              <li class="list__item">
                <em>A.S.</em> Computer Science<br />
                <strong>De Anza College</strong><br />
                September 2016 - June 2019<br />
                Cupertino, CA
              </li>
            </ul>
          </section>
          <section>
            <h3 class="resume__heading">Skills</h3>
            <p class="resume__content">
              HTML, CSS, JavaScript, Java, Python, React, Linux, Bash, Lua,
              MongoDB, AWS DynamoDB, AWS Lambda, SQL, Node.JS, Git.
            </p>
          </section>
          <section>
            <h3 class="resume__heading">Volunteer</h3>
            <ul class="list">
              <li class="list__item">
                Backend Developer<br />
                <strong>Chosn</strong>, Phoenix, AZ <br />
                May 2023 - August 2023
                <ul>
                  <li>
                    collaborated with a team to design and develop a RESTful API
                    website.
                  </li>
                  <li>
                    Led backend development efforts, utilizing AWS Lambda, AWS
                    DynamoDB, and AWS API Gateway to create scable and efficient
                    serverless architecture.
                  </li>
                </ul>
              </li>
              <li class="list__item">
                Game Developer<br />
                <strong>Game Online Group</strong>, Canada <br />
                April 2021 - December 2021
                <ul>
                  <li>
                    Successfully implemented new features and optimizations,
                    resulting in improved gameplay experience and user
                    satisfaction.
                  </li>
                  <li>
                    Streamlined codebase management, reducing the time and
                    effort required for maintenance and updates.
                  </li>
                </ul>
              </li>
            </ul>
          </section>
        </section> -->
      </section>
    </main>
    <footer>&copy; 2024 Thinh Nguyen</footer>
  </body>
</html>
