<section id="work">
    <h2>Work</h2>
    <div class="work-container">
      <div class="project">
        <div class="project-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reiciendis, qui consectetur? Eligendi maiores voluptas quaerat
          dignissimos consequatur quas dolor accusantium!
        </div>
      </div>
      <div class="project">
        <div class="project-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reiciendis, qui consectetur? Eligendi maiores voluptas quaerat
          dignissimos consequatur quas dolor accusantium!
        </div>
      </div>
      <div class="project">
        <div class="project-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reiciendis, qui consectetur? Eligendi maiores voluptas quaerat
          dignissimos consequatur quas dolor accusantium!
        </div>
      </div>
      <div class="project">
        <div class="project-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reiciendis, qui consectetur? Eligendi maiores voluptas quaerat
          dignissimos consequatur quas dolor accusantium!
        </div>
      </div>
      <div class="project">
        <div class="project-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reiciendis, qui consectetur? Eligendi maiores voluptas quaerat
          dignissimos consequatur quas dolor accusantium!
        </div>
      </div>
      <div class="project">
        <div class="project-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reiciendis, qui consectetur? Eligendi maiores voluptas quaerat
          dignissimos consequatur quas dolor accusantium!
        </div>
      </div>
    </div>
  </section>